# Ignore the virtual environment
.venv/

# Ignore the Python cache directory
__pycache__/

# Ignore the epanet-dev directory
epanet-dev/build/

# Ignore the output files
dataset/any-town.out
temp.bin
temp.inp
temp.rpt
prompt_content.json
codes/temp.bin
codes/temp.rpt
codes/temp.inp
=4.2.0
networks/any-town_parsed_*.inp
networks/any-town_parsed.inp
logger_*.log
gmon.out
