# Ignore virtual environment directories
.venv/

# Ignore Python cache directories
__pycache__/

# Ignore build directories
epanet-dev/build/
epanet-dev/debug/**
epanet-dev/release/**

# Ignore output files
dataset/any-town.out
temp.bin
temp.inp
temp.rpt
prompt_content.json
codes/temp.bin
codes/temp.rpt
codes/temp.inp
gmon.out

# Ignore network files
networks/any-town_parsed_*.inp
networks/any-town_parsed.inp

# Ignore log files
logger_*.log

# Miscellaneous
=4.2.0
output_*.inp
BBStats_size_*.json
profile_rank_0.txt
epanet-dev/valgrind
snapshot_24_*.json
epanet-dev/output.svg
epanet-dev/edges.txt
epanet-dev/callgrind.out.*
epanet-dev/call_tree.dot
epanet-dev/call_tree.png
run_h_3_a_1_n_2_k_256_best.json
run_h_3_a_1_n_2_k_256_stats.json
run_h_04_a_01_l_04_n_01_r_00_best.json
run_h_04_a_01_l_04_n_01_r_00_prof.txt
run_h_04_a_01_l_04_n_01_r_00_stats.json
